@use"../../abstracts/colors";

.toggle__input{
    appearance: none;
    width: 9rem;
    height: 5rem; 
    border-radius: 5rem; 
    position: relative;
    background: colors.$darkmode;

    &:hover{
        cursor: pointer;
    }


    &::after{
        content: "";
    position: absolute;
    height: 5rem;
    width: 5rem;
    background: colors.$gradiant;
    border-radius: 50%;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    transition: 0.4s;
    }

    &focus:after{
        outline: 0.2rem dashed colors.$blue;
    }
    &:checked{
        background:colors.$background;
    }
    &:checked::after{
        left: 80%;
    }
}