$blue:#16213E;
$blue-transparant:#0f3460b3;
$font-color:#eee;
$pink:#E84545;
$border_pink:0.5rem solid $pink;
$purple:#3d248f;
$border-pink-small: 0.2rem solid #e94560;
$linear-gradient-default:linear-gradient(to bottom right, rgba(22, 33, 62,0.8),80%, rgba(233, 69, 96,0.5)) , url("../img/achtergrond\ nederland.jpg");
